- if lookup_context.exists?("cms_pages/_#{@cms_page.partial}")
  .row.cms-partial
    .col
      = render "cms_pages/#{@cms_page.partial}"
- else
  .row
    .col.sm
      = render 'cms_pages/cms_page_content'

- @cms_page.children.each do |child|
  .cms-page{ id: "cms-page-#{child.id}"}
    %h4.title
      = child.title
    %p.sub-title= child.sub_title
    %p.read-more= link_to 'Click for more &raquo;'.html_safe, cms_page_path(child)

