.row
  .col-12
    = render 'layouts/admin_nav'
.row
  .col-12

  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f|
    = devise_error_messages!
    = f.input :email
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      .small
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    = f.input :password
    = f.input :password_confirmation, hint: "Leave these fields blank if you don't want to change your password."
    = f.input :current_password, hint: "You must enter your current password to make changes."
    = f.submit 'Update', class:'btn btn-primary'
