.card.auth
  %h2.card-header
  .card-body
    = render 'layouts/messages'
    = simple_form_for(resource, :as => resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = f.hidden_field :reset_password_token
      = f.input :password, label: false, placeholder: 'New password'
      = f.input :password_confirmation, label: false, placeholder: 'Confirm new password'
      = f.submit 'Change my Password!', class: 'btn btn-primary btn-block'
