.row.conditions-treated
  .col-sm-12
    %h3 Conditions Treated...
    .row
      .col-sm-3
        %ul
          %li
            = fa_icon :check
            Auto-accidents
          %li
            = fa_icon :check
            ADHD
      .col-sm-3
        %ul
          %li
            = fa_icon :check
            Ear Infections
          %li
            = fa_icon :check
            Carpel Tunnel
      .col-sm-3
        %ul
          %li
            = fa_icon :check
            Pregnancy
          %li
            = fa_icon :check
            Sciatica
      .col-sm-3
        %ul
          %li
            = fa_icon :check
            Asthma
          %li
            = fa_icon :check
            Neck pain
