- unless @specialties.empty?
  .container.featured-specialties
    .row
      .col-sm-12
        %h3
          Specialties
          %small= link_to "(#{Specialty.count} more)", '/pages/specialties'
        .row
          - @specialties.each do |specialty|
            .col-sm-3
              %h4= specialty.title
              %p
                = specialty.teaser
              %p.read-more
                = link_to 'Click for more &raquo;'.html_safe, specialty_path(specialty)
