.row.header
  .col-sm-12
    .header-content
      .container
        .row
          .col-sm-9.intro
            = image_tag 'splash/rowe.png', class: 'dr-rowe'
            %p
              For over 120 years, chiropractors have been giving patients relief from their health concerns. The mission of Rowe Chiropractic Offices is to utilize the most advanced and effective system to analyze and treat the root cause of the underlying problem. Our goal is for our patients to obtain optimal health and achieve their health goals.

            %p
              By combining the most specific chiropractic technique <link to Gonstead technique info> with the best postural correction technique <link to CBP info>, we have designed a program that allows our patients the greatest opportunity for spinal correction and the highest level of functioning.

          .col-sm-3.contact-form
            = render 'shared/contact_form', show_title: true
= render 'meet_the_team'
= render 'testimonials'
= render 'specialties'
