%section.splash-content
  .container
    .row#first-visit
      .col.content-block
        %h2 Your First Visit
        .text
          .image.float-sm-right.ml-sm-3= image_tag 'splash/team-cropped.jpg'
          %p Our first goal is to allow you to feel comfortable and at home. We start with a tour of the office, answer any questions you may have, and let you know what to expect. Your comfort is our first priority. Our first goal is to allow you to feel comfortable and at home. We start with a tour of the office, answer any questions you may have, and let you know what to expect. Your comfort is our first priority.
          %p.clearfix= link_to 'read more', '/pages/your-first-visit', class: 'read-more'

    .row#chiropractic-care
      .col.content-block
        %h2 Chiropractic Care
        .text
          .image.float-sm-left.mr-sm-3= image_tag 'splash/founders.jpg'
          %p
            Unhealthy posture disrupts the nervous system and with a stressed nervous system the body can’t heal or self-regulate. This interferes with our brain’s ability to properly react to our ever-changing environment.
          %p.clearfix= link_to 'read more', '/pages/about-us', class: 'read-more'

    .row#meet-dr-rowe
      .col.content-block
        %h2 Meet Dr. Rowe
        .image.float-sm-left.mr-sm-3
          = image_tag 'splash/rowe.png'
        %h3 Using Gonstead, CBP and therapeutic exercises
        %p
          Dr. Rowe alleviate the stress on the nervous system to restore the body’s natural healing ability.
        %p= link_to 'read more', '/pages/david-rowe', class: 'read-more'
