.masthead{ data: { parallax: true, src: asset_path('splash/adjustment.jpg'), pos_x: :left } }
  = render 'layouts/navigation'
  .container.icon-nav
    .row.text-center
      .col-sm-3
        %figure.figure.text-center
          = fa_icon 'handshake', class: 'fas fa-4x'
          %figcaption.figure-caption
            =link_to 'Your First Visit', '#'
      .col-sm-3
        %figure.figure.text-center
          = fa_icon 'user-md', class: 'fas fa-4x'
          %figcaption.figure-caption
            =link_to 'Meet Dr. Rowe', '#'
      .col-sm-3
        %figure.figure.text-center
          = fa_icon 'calendar-check', class: 'fa-4x'
          %figcaption.figure-caption
            =link_to 'Make an appointment', '#'
      .col-sm-3
        %figure.figure.text-center
          = fa_icon 'skeleton', class: 'fa-4x'
          %figcaption.figure-caption
            =link_to 'Chiropractic Care', '#'


%section
  .container
    .row
      .col
        %h2 CHIROPRACTIC CARE FOR TOTAL HEALTH:
        %h3 RECONNECTING YOUR MIND WITH YOUR BODY

        = image_tag 'splash/spine.png', width: '250', class: 'float-left mr-5'

        %p Our bodies have the ability to thrive and function at a higher level than we thought was possible. Reach your full physical and mental potential by reducing pressure on the nervous system. Give your body the best opportunity to heal itself.

%section{ data: { parallax: true, src: asset_path('splash/exam.jpg'), pos_x: :left } }
  .container
    .row
      .col
        .content.mr-5.ml-5
          %h2
            %span
              = fa_icon 'handshake', class: 'fas fa-2x'
            Your First Visit
          %p
            %strong
              %em
                Our first goal
            is to allow you to feel comfortable and at home. We start with a tour of the office, answer any questions you may have, and let you know what to expect. Your comfort is our first priority.

%section
  .container
    .row
      .col
        %h2 Rowe chiropractic is a specialist in locating and correcting subluxation - rewiring communication so that the brain can talk to the body again.

        %p The lives we live create an impression on our nervous system and on our posture. When our minds and bodies feel stress, it imprints on our skeleton system as subluxation, or an interruption in the nervous system. We employ different modalities to repair our bodies, but if the brain is not talking to the body, the body can’t be healthy. As much as we learn about and hope to maintain our health through stress management, diet, and exercise. the most important - one small misalignment - can create subluxations that turn the volume of our brain/body communication down.

