.masthead{ data: { parallax: true, src: asset_path('splash/adjustment.jpg'), pos_x: :left } }
  = render 'layouts/navigation'
  %h1.text-center
    / Live your life at it's highest potential!
    / %span.float-right Unlock your body's innate healing ability.
  .container
    .row
      .col-sm-7
        .content
          .row
            .col
              %h2 Chiropractic care for total health.
              %p
                Family run since 1981, Rowe Chiropractic Offices in New York City combines
                = link_to 'Gonstead', '#', class: 'content-link'
                spinal adjustments,
                = link_to 'CBP', '#', class: 'content-link'
                posture correction, diet and lifestyle guidance to restore your body's natural, innate healing ability.
          .row.mt-4.text-center
            .col
              %figure.figure.text-center
                = fa_icon 'calendar-check', class: 'fa-3x'
                %figcaption.figure-caption
                  =link_to 'Schedule your first appointment!', '#'
            .col
              %figure.figure.text-center
                = fa_icon 'play-circle', class: 'fa-3x'
                %figcaption.figure-caption
                  =link_to 'What will my first visit be like?', '#'


      .col-sm-4.offset-1.text-center
        .row
          .col
            %figure.figure
              = image_tag 'splash/rowe.png', class: 'figure-img img-fluid rounded img-thumbnail', width: '170px'
              %figcaption.figure-caption
                = link_to 'Meet Dr. Rowe', '/', class: 'btn btn-secondary'


.container
  .row.mt-5
    .col
      = image_tag 'placeholder.svg', size: '300x300', class: 'img-thumbnail'

    .col-sm-9
      / %p Dr. Rowe's holistic approach addresses the body and mind, including lifestyle and diet, allowing his patients to heal the nervous system and return to pain-free, drug-free lives.
      .content
        %h2 Reconnecting your body and mind and unlock your body's innate healing ability.
        %p Humans  are  self-healing  living  beings.  Our  innate  intelligence,  expressed  by  our  nervous  system,  directs  our  healing.  We  owe  it  to  ourselves  to  give  that  innate  intelligence  a  chance  to  express  itself  fully;  reducing  pressure  on  the  nervous  systems  gives  us  the  best  opportunity  to  heal  ourselves.

      / %figure.figure.text-center
      /   = fa_icon 'question-circle', class: 'fa-3x'
      /   %figcaption.figure-caption
      /     =link_to 'What is chiropractic?', '#'
    / .col-sm-2
    /   %figure.figure.text-center
    /     = fa_icon 'phone', class: 'fa-3x'
    /     %figcaption.figure-caption
    /       =link_to 'Contact Us', '#'



/ .container
/   .content
/     .row
/       .col
/         %h2 Humans are self-healing living beings.
/         %p Our innate intelligence, expressed by our nervous system, directs our healing. We owe it to ourselves to give that innate intelligence a chance to express itself fully; reducing pressure on the nervous systems gives us the best opportunity to heal ourselves.

#section2.section{ data: { parallax: true, src: asset_path('splash/exam.jpg'), pos_x: :left } }
  .container
    .row
      .col-sm-8
        .content
          %h2 Using Gonstead, CBP and individually-customized, therapeutic movements, we alleviate the stress on the nervous system and restore the body’s natural healing ability.
          %p Dr. Rowe is a certified practitioner of both the Gonstead system and Chiropractic Biophysics (CBP). The Gonstead System provides the most comprehensive method of addressing the dysfunction of individual vertebrae. Chiropractic Biophysics restores the body’s balance and natural-healing by correcting overall posture.

      .col.text-right
        = image_tag 'placeholder.svg', size: '300x300', class: 'img-thumbnail'

#section3.section
  .container
    .row
      .col
        %h2 Rowe chiropractic is a specialist in locating and correcting subluxation - rewiring communication so that the brain can talk to the body again.

        %p The lives we live create an impression on our nervous system and on our posture. When our minds and bodies feel stress, it imprints on our skeleton system as subluxation, or an interruption in the nervous system. We employ different modalities to repair our bodies, but if the brain is not talking to the body, the body can’t be healthy. As much as we learn about and hope to maintain our health through stress management, diet, and exercise. the most important - one small misalignment - can create subluxations that turn the volume of our brain/body communication down.

