.masthead{ data: { parallax: true, src: asset_path('splash/adjustment.jpg'), pos_x: :left } }
  = render 'layouts/navigation'
  .container.icon-nav
    .row.text-center
      .col-sm-3
        %figure.figure.text-center
          = fa_icon 'handshake', class: 'fas fa-4x'
          %figcaption.figure-caption
            =link_to 'Your First', '#'
            %br
            =link_to 'Visit', '#'
      .col-sm-3
        %figure.figure.text-center
          = fa_icon 'user-md', class: 'fas fa-4x'
          %figcaption.figure-caption
            =link_to 'Meet', '#'
            %br
            =link_to 'Dr. Rowe', '#'
      .col-sm-3
        %figure.figure.text-center
          = fa_icon 'calendar-check', class: 'fa-4x'
          %figcaption.figure-caption
            =link_to 'Make an appointment', '#'
      .col-sm-3
        %figure.figure.text-center
          = fa_icon 'skeleton', class: 'fa-4x'
          %figcaption.figure-caption
            =link_to 'Chiropractic', '#'
            %br
            =link_to 'Care', '#'


%section
  .container
    .row
      .col
        %h2 CHIROPRACTIC CARE FOR TOTAL HEALTH:
        %h3 RECONNECTING YOUR MIND WITH YOUR BODY

        = image_tag 'splash/spine.png', width: '250', class: 'float-left mr-5'

        %p Our bodies have the ability to thrive and function at a higher level than we thought was possible. Reach your full physical and mental potential by reducing pressure on the nervous system. Give your body the best opportunity to heal itself.

%section{ data: { parallax: true, src: asset_path('splash/exam.jpg'), pos_x: :left } }
  .container
    .row
      .col
        .content.mr-5.ml-5
          %h2
            %span
              = fa_icon 'handshake', class: 'fas fa-2x'
            Your First Visit
          %p Our first goal is to allow you to feel comfortable and at home. We start with a tour of the office, answer any questions you may have, and let you know what to expect. Your comfort is our first priority.

%section
  .container
    .row
      .col-sm-6
        .content
          %h2
            %span
              = fa_icon 'skeleton', class: 'fas fa-2x'
            Chiropractic Care
          %p Unhealthy posture disrupts the nervous system and with an stressed nervous system the body can’t heal or self-regulate. This interferes with our brain’s ability to properly react to our ever- changing environment.

      .col-sm-6
        .content
          %h2
            %span
              = fa_icon 'user-md', class: 'fas fa-2x'
            Meet Dr. Rowe
          %p Using Gonstead, CBP and individually- customized, therapeutic movements, Dr. Rowe alleviate the stress on the nervous system to restore the body’s natural healing ability.
