%section.header
  .container
    .row.info
      .col-sm-4
        %p= mail_to 'info@rowechiropractic.com', 'info@rowechiropractic.com', encode: :javascript
        %p= link_to '212.486.8888', 'tel:2124868888'
      .col-sm-4.text-center
        %p= link_to '316 E. 59th St. New York, NY 10022', '/pages/contact-us'
      .col-sm-4.text-right
        %p= link_to 'make an appointment', '/pages/contact-us'
        %ul.list-inline
          %li.list-inline-item= link_to fa_icon('twitter', class: 'fab'), 'https://twitter.com/Rowe_Chiro'
          %li.list-inline-item= link_to fa_icon('facebook', class: 'fab'), 'https://www.facebook.com/RoweChiropracticOffices/'
          %li.list-inline-item= link_to fa_icon('youtube', class: 'fab'), 'https://www.youtube.com/user/RoweChiropractic'
          %li.list-inline-item= link_to fa_icon('instagram', class: 'fab'), 'https://www.instagram.com/RoweChiropractic/'

    .row.branding.text-center
      .col-12
        = image_tag 'rowe-chiropractic-logo-round.png', height: '80px', class: :logo
        %h1 Rowe Chiropractic
        %p.tag-line Chiropractic care for total health

%section.icon-nav
  .container
    .d-flex.flex-sm-row.flex-column.justify-content-around
      %figure.figure
        = link_to fa_icon('handshake', class: 'fas fa-4x'), '#first-visit'
        %figcaption.figure-caption
          =link_to 'Your First', '#first-visit'
          %br
          =link_to 'Visit', '#first-visit'
      %figure.figure
        = link_to inline_svg('splash/man-icon.svg'), '#meet-dr-rowe'
        %figcaption.figure-caption
          =link_to 'Meet', '#meet-dr-rowe'
          %br
          =link_to 'Dr. Rowe', '#meet-dr-rowe'
      %figure.figure
        = link_to fa_icon('clipboard-list', class: 'fas fa-4x'), ''
        %figcaption.figure-caption
          = link_to 'Make an', '#'
          %br
          =link_to 'appointment', '#'
      %figure.figure
        = link_to fa_icon('skeleton', class: 'fa-4x'), '#chiropractic-care'
        %figcaption.figure-caption
          =link_to 'Chiropractic', '#chiropractic-care'
          %br
          =link_to 'Care', '#chiropractic-care'

%section.mission
  .container
    .d-flex.flex-sm-row.flex-column.justify-content-around
      .statement
        %h2 Reach
        %p Reach your full physical and mental potential by reducing pressure on the nervous system
      .statement
        %h2 Thrive
        %p Our bodies have the ability to thrive and function at a higher level than we thought was possible.
      .statement
        %h2 Connect
        %p The human body is self-healing. Reconnect your mind with your body.

%section.splash-content
  .container
    .row#first-visit
      .col.content-block
        %h2 Your First Visit
        .image.float-sm-left.mr-sm-3
          = image_tag 'splash/team-cropped.jpg'
        %h3 Our first goal is to allow you to feel comfortable
        %p
          and at home. We start with a tour of the office, answer any questions you may have, and let you know what to expect. Your comfort is our first priority. Our first goal is to allow you to feel comfortable and at home. We start with a tour of the office, answer any questions you may have, and let you know what to expect. Your comfort is our first priority.
        %p= link_to 'read more', '/pages/your-first-visit', class: 'read-more'

    .row#chiropractic-care
      .col.content-block.right
        %h2 Chiropractic Care
        .image.ml-sm-3.float-sm-right
          = image_tag 'splash/founders.jpg'

        %h3 Unhealthy posture disrupts the nervous system
        %p
          and with a stressed nervous system the body can’t heal or self-regulate. This interferes with our brain’s ability to properly react to our ever-changing environment.
        %p= link_to 'read more', '#', class: 'read-more'

    .row#meet-dr-rowe
      .col.content-block
        %h2 Meet Dr. Rowe
        .image.float-sm-left.mr-sm-3
          = image_tag 'splash/rowe.png'
        %h3 Using Gonstead, CBP and therapeutic exercises
        %p
          Dr. Rowe alleviate the stress on the nervous system to restore the body’s natural healing ability.
        %p= link_to 'read more', '#', class: 'read-more'
