.col
  .testimonial
    %h4= testimonial.title
    %blockquote.blockquote
      %p<>
        = "\"#{testimonial.teaser}\""
      %footer.blockquote-footer
        = testimonial.author
      %p.mt-3.read-more
        = link_to 'Click for more &raquo;'.html_safe, cms_page_path('testimonials')
