%header
  .container
    .row
      .col-6.branding
        %a.logo.align-middle{ href: '/' }= image_tag 'rowe-chiropractic-logo-round.png'
        %h1.align-middle
          %a{ href: '/' } Rowe Chiropractic

      .col-6.contact
        %ul.social
          %li
            %ul.list-inline
              %li.list-inline-item.twitter= link_to fa_icon('twitter', class: 'fab'), '#', class: 'nav-link'
              %li.list-inline-item.facebook= link_to fa_icon('facebook', class: 'fab'), '#', class: 'nav-link'
              %li.list-inline-item.youtube= link_to fa_icon('youtube', class: 'fab'), '#', class: 'nav-link'
              %li.list-inline-item.instagram= link_to fa_icon('instagram', class: 'fab'), '#', class: 'nav-link'
              - if user_signed_in?
                %li.list-inline-item.admin= link_to fa_icon('lock', class: :fas), admin_dashboard_path

          %li.email_phone
            = link_to '(212) 486-8888', 'tel:2124868888', class: :phone
            = mail_to 'info@rowechiropractic.com', 'info@rowechiropractic.com', encode: :javascript
