.page-branding
  = image_tag 'rowe-chiropractic-logo-round.png', height: 100
  %h1 Rowe Chiropractic
  %p Chiropractic Care For Total Health

%nav.main-nav.navbar.navbar-expand-lg.navbar-light
  %a.navbar-brand{:href => "#"}
  %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    %ul.navbar-nav.m-auto
      %li.nav-item= active_link_to 'Home', '/', class: 'nav-link', active: :exclusive
      %li.nav-item= active_link_to 'Your First Visit', '/pages/your-first-visit', class: 'nav-link'
      %li.nav-item= active_link_to 'Meet Dr. Rowe', '/pages/david-rowe', class: 'nav-link'
      %li.nav-item= active_link_to 'About Us', '/pages/about-us', class: 'nav-link'
      %li.nav-item= active_link_to 'Meet The Doctors', '/pages/meet-the-doctors', class: 'nav-link'
      %li.nav-item= active_link_to 'Specialties', '/pages/specialties', class: 'nav-link'
      %li.nav-item= active_link_to 'Testimonials', '/pages/testimonials', class: 'nav-link'
      %li.nav-item= active_link_to 'Contact Us', '/pages/contact-us', active: @contact_link_active, class: 'nav-link'
      %li.nav-item= active_link_to 'New Patient Form', 'https://rowechiropractic-website.s3.amazonaws.com/uploads/document/file/a07a8958-7b77-4bc8-a0d5-b7c23b8d9f8c/New_Patient_Application.pdf',class: 'nav-link', target: :_blank
