.container
  %nav.navbar.navbar-expand-lg.navbar-light.justify-content-between
    %a.navbar-brand{ href: '/'}
      = image_tag 'rowe-chiropractic-logo-round.png', height: 80, class: 'd-none d-sm-inline-block'
      %span Rowe Chiropractic
    %button.navbar-toggler{ aria: { controls: 'main-nav', expanded: false, label: 'Toggle navigation' },  data: { target: '#main-nav', toggle: :collapse, type: :button } }
      %span.navbar-toggler-icon
    %ul.social-and-contact.d-none.d-sm-block
      %li.social
        = link_to fa_icon('twitter', class: :fab), 'https://twitter.com/Rowe_Chiro', target: :_blank
        = link_to fa_icon('facebook', class: :fab), 'https://www.facebook.com/pages/Rowe-Chiropractic-Offices', target: :_blank
        = link_to fa_icon('youtube', class: :fab), 'https://www.youtube.com/user/RoweChiropractic', target: :_blank
        = link_to fa_icon('instagram', class: :fab), 'https://www.instagram.com/RoweChiropractic/', target: :_blank
      - if user_signed_in?
        = link_to fa_icon('sign-in-alt', class: :fa), admin_dashboard_path
      %li.contact
        = mail_to 'info@rowechiropractic.com', 'info@rowechiropractic.com', encode: :javascript, class: :email
        = link_to '(212) 486-8888', 'tel:2124868888', class: :phone
      %li.address
        316 E. 59th St. New York, NY 10022

.navbar-expand-lg.navbar-light.w-100.align-middle
  #main-nav.collapse.navbar-collapse.d-lg-flex.justify-content-between
    .container
      .navbar-nav.nav-fill.w-100
        = active_link_to 'Home', '/', class: 'nav-item', active: :exclusive
        = active_link_to 'About Us', '/pages/about-us', class: 'nav-item'
        = active_link_to 'Meet The Doctors', '/pages/meet-the-doctors', class: 'nav-item'
        = active_link_to 'Specialties', '/pages/specialties', class: 'nav-item'
        = active_link_to 'Testimonials', '/pages/testimonials', class: 'nav-item'
        = active_link_to 'Contact Us', '/pages/contact-us', active: @contact_link_active, class: 'nav-item'
